body {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

p {
  background: aqua;
  border: 3px solid blue;
  padding: 10px;
  margin: 10px;
}

span {
  background: red;
  border: 1px solid black;
}

.positioned {
  position: absolute;
  background: yellow;
  top: 40px;
  left: 30px;
  Z-index:1;
}

p:nth-of-type(1){ 
position:sticky;
  background: lime;
 z-index:2;
}

/* To use z-index we must use position property whether it is other tha static(default)  */
